body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    box-shadow: 0px 3px 10px 0px #0000000D;
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 135px;
    position: relative;
}

.header__logo {
    position: relative;
    display: flex;
    align-items: center;
}

.header__logo-text {
    font-size: 0;
}

.header__logo-person {
    display: none;
}

.header__search {
    width: 65%;
    height: 40px;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    background: url('./images/search.png') no-repeat center left;
    background-position-x: 11px;
    padding-left: 39px;
    margin-left: -7px;
}


::-webkit-input-placeholder {color:#BBC4D6; font-family: 'Roboto', sans-serif;}
::-moz-placeholder          {color:#BBC4D6; font-family: 'Roboto', sans-serif;}
:-moz-placeholder           {color:#BBC4D6; font-family: 'Roboto', sans-serif;}
:-ms-input-placeholder      {color:#BBC4D6; font-family: 'Roboto', sans-serif;}

.header__profile {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 19px;
    height: 40px;
}

.header__profile-line {
    position: absolute;
    left: -21px;
}

.header__profile-text {
    font-size: 14px;
    font-weight: 400;
}

.header__profile-image {
    margin-left: 12px;
}

.ellipse {
    margin-right: 10px;
}

.dot {
    position: absolute;
    top:22px;
    left: 19px;
}

.content {
    width: 100%;
    max-width: 1170px;
    padding: 0 135px;
}

.content__title {
    margin: 0;
    margin-top: 76px;
    margin-bottom: 38px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
}

.content__partners {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content__partners__element {
    width: 270px;
    height: 120px;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    margin-right: 27px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content__partners__element:hover {
    box-shadow: 0px 0px 10px 0px #A4A4A408;
    box-shadow: -3px 0px 40px 0px #0000001A;
}

.content__partners__element-image {
    max-width: 80%;
    height: auto;
}

.content__partners__element:nth-child(4n) {
    margin: 0;
}

@media (max-width: 768px) {
    .wrapper {
        padding: 20px;
    }

    .content {
        width: 100%;
        max-width: 1170px;
        padding: 0 20px;
    }

    .header__search {
        width: 49%;
        background-position-x: 11px;
        margin-left: 27px;
    }

    .header__profile-image {
        padding-right: 40px;
    }

    .content__partners__element {
        width: 229px;
        margin-right: 18px;
    }

    .content__partners__element:nth-child(4n) {
        margin-right: 18px;
    }

    .content__title {
        margin-top: 76px;
        margin-bottom: 38px;
        font-size: 28px;
        font-weight: 500;
    }
}

@media (max-width: 980px) {
    .header__search {
        width: 40%;
    }

    .header__profile-line {
        position: absolute;
        left: -9px;
    }
}

@media (max-width: 600px) {
    .header__search {
        width: 28%;
    }
}


@media (max-width: 490px) {
    .wrapper {
        display: block;
        padding: 0;
    }

    .header__logo {
        height: 62px;
    }

    .header__logo-pic {
        margin-left: 21px;
    }
    
    .dot {
        top: 36px;
        left: 39px;
    }

    .ellipse {
        margin-right: 9px;
    }
    
    .header__profile {
        display: none;
    }

    input {
        display: block;
        margin: 0;
    }

    .content__partners__element {
        width: 335px;
        height: 140px;
        margin: 0;
        margin-bottom: 20px;
    }

    .header__search {
        width: 100%;
        margin: 0;
        height: 43px;
        background-position-x: 21px;
        padding-left: 49px;
        border-radius: 0;
    }
    
    .header__logo-person {
        display: block;
        position: absolute;
        top:22px;
        right: 8px;
    }
}






